h1 {
	color:red;
}

#mw-panel {
	display: none;
}

#mw-head {
	display: none;
}

#content {
	position: absolute;
	top: 0;
	left: 0;

}

.mw-body {
	margin-left: 0em;
	border: none;
}

body *{
	color: black;
	font-family:'CourierNew', monospace;	
}


#toc {
	width: 700px ;
  	margin-left: auto ;
  	margin-right: auto ;
}

#mw-content-text > p:nth-child(4) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > p:nth-child(5) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > p:nth-child(21) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(2) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(5) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(1) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#mw-content-text > ul > li:nth-child(4) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.mw-content-ltr tbody tr:nth-child(1) td:nth-child(1) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.thumbcaption {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.mw-headline {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.mw-editsection {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.thumbtright {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.hatnote {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.references {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}


.mw-body a.image {
	color: black;
}
.mw-body a.image {
	display:none;
}
.mw-body a.external {
	color: black;
}
.external {
	display: none;
}
	
#firstHeading {
	border: none;
}





