h1 {
	color:red;
}

#mw-panel {
	display: none;
}

#mw-head {
	display: none;
}

#content {
	position: absolute;
	top: 0;
	left: 0;

}

.mw-body {
	margin-left: 0em;
	border: none;
}

body *{
	color: black;
	font-family:'CourierNew', monospace;	
}


#toc {
	width: 700px ;
  	margin-left: auto ;
  	margin-right: auto ;
}

#toc > ul > li:nth-child(2) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#toc > ul > li:nth-child(5) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#toc > ul > li:nth-child(3) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#mw-content-text > p:nth-child(4) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#mw-content-text > p:nth-child(9) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > p:nth-child(5) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > p:nth-child(7) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(2) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(5) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > ul > li:nth-child(1) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
#mw-content-text > dl {color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);}
#mw-content-text > ul > li:nth-child(4) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#mw-content-text > ul > li:nth-child(9) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.mw-content-ltr tbody tr:nth-child(1) td:nth-child(1) {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.mw-headline {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.mw-editsection {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.thumbcaption {
    color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.hatnote {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.selflink {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.templatequote {color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);}

.references {
	color: black;
    background-color: black;
    white-space;
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.mw-body a.external {
	color: black;
}
.external {
	display: none;
}
	
#firstHeading {
	border: none;
}

#toctitle > h2 {
	color: black;
    background-color: white;
    white-space;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}

#toctitle >h2 {
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: white;}
    to {background-color: black;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: white;}
    to {background-color: black;}



.mw-body a.image {
	color: black
	background-color: white;
    white-space;
    border:1px;
    background: -moz-linear-gradient(180deg, #000, #222);
}
.mw-body a.image{
    background-color: #AD310B !important;
    background-image:none !important;
   -webkit-transition: background-color 5000ms linear;
   -moz-transition: background-color 5000ms linear;
   -o-transition: background-color 5000ms linear;
   -ms-transition: background-color 5000ms linear;
    transition: background-color 5000ms linear;
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;

    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    animation-iteration-count: 2;
 }







