/* Rectangle 16: */
background: #FFFFFF;


/* Rectangle 15: */
background: #E72F23;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);


/* Rectangle 6 Copy 13: */
background: #FFFFFF;
border: 1px solid #979797;
border-radius: 100px;


/* SCHEDULE: */
font-family: Avenir-Medium;
font-size: 20px;
color: #4A4A4A;
letter-spacing: 0;


/* Thursday, March 30,: */
font-family: Avenir-Light;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;


/* MENU: */
font-family: Avenir-Medium;
font-size: 18px;
color: #4A4A4A;
letter-spacing: 0;


/* Rectangle 6 Copy 14: */
background: #9B9B9B;
border-radius: 100px;


/* Typography & Form Copy 4: */
font-family: Avenir-Book;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;


/* 9:00am - 11:40am: */
font-family: Avenir-Light;
font-size: 10px;
color: #E72F23;
letter-spacing: 0;


/* 2 W 13th St: */
font-family: Avenir-Light;
font-size: 10px;
color: #E72F23;
letter-spacing: 0;


/* Rectangle 6 Copy 13: */
background: #FFFFFF;
border: 1px solid #979797;
border-radius: 100px;
/* Web : Interaction: */
font-family: Avenir-Book;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
/* 9:00am - 11:40am copy 7: */
font-family: Avenir-Light;
font-size: 10px;
color: #E72F23;
letter-spacing: 0;
/* 2 W 13th St: */
font-family: Avenir-Light;
font-size: 10px;
color: #E72F23;
letter-spacing: 0;


/* Mask: */
background: #D8D8D8;
/* 10551713_10204500143127402_6198100777177702239_o: */


/* Kirsten Do: */
font-family: Lato-Medium;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;


/* N00384234: */
font-family: Avenir-Light;
font-size: 13px;
color: #FFFFFF;
letter-spacing: 0;


/* Fill 4: */
background: #9B9B9B;
/* Fill 6: */
background: #9B9B9B;
/* Fill 8: */
background: #9B9B9B;
/* Fill 10: */
background: #FEFEFE;
/* Fill 12: */
background: #FEFEFE;
/* Fill 13: */
background: #9B9B9B;
/* Fill 14: */
background: #9B9B9B;
/* Fill 15: */
background: #9B9B9B;
/* Fill 16: */
background: #9B9B9B;
/* Fill 17: */
background: #9B9B9B;
/* Fill 18: */
background: #9B9B9B;
/* Fill 19: */
background: #9B9B9B;
/* Fill 20: */
background: #9B9B9B;
/* Fill 21: */
background: #9B9B9B;
/* Fill 22: */
background: #9B9B9B;
/* Fill 23: */
background: #9B9B9B;
/* Fill 24: */
background: #9B9B9B;
/* Fill 25: */
background: #FEFEFE;
/* Fill 26: */
background: #FEFEFE;
/* Fill 27: */
background: #FEFEFE;
/* Fill 28: */
background: #9B9B9B;
/* Fill 29: */
background: #9B9B9B;
/* Fill 30: */
background: #9B9B9B;
/* Fill 31: */
background: #9B9B9B;
/* Fill 32: */
background: #9B9B9B;
/* Fill 33: */
background: #9B9B9B;
/* Fill 35: */
background: #9B9B9B;
/* Fill 37: */
background: #9B9B9B;
/* Fill 38: */
background: #9B9B9B;
/* Fill 39: */
background: #9B9B9B;
/* Fill 40: */
background: #9B9B9B;


/* Buildings: */
font-family: Avenir-Medium;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;


/* Fill 5: */
background: #FEFEFE;
/* Stroke 7: */
border: 2px solid #9B9B9B;
/* Fill 9: */
background: #9B9B9B;
/* Fill 11: */
background: #FEFEFE;
/* Fill 13: */
background: #FEFEFE;
/* Fill 15: */
background: #9B9B9B;
/* Fill 17: */
background: #9B9B9B;
/* Fill 19: */
background: #9B9B9B;
/* Fill 21: */
background: #9B9B9B;
/* Fill 23: */
background: #9B9B9B;
/* Fill 25: */
background: #9B9B9B;
/* Fill 27: */
background: #9B9B9B;
/* Fill 29: */
background: #9B9B9B;
/* Fill 31: */
background: #9B9B9B;
/* Fill 33: */
background: #9B9B9B;


/* Academic Calendar: */
font-family: Avenir-Medium;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;


/* Fill 5: */
background: #9B9B9B;
/* Fill 7: */
background: #9B9B9B;
/* Fill 9: */
background: #FEFEFE;
/* Fill 11: */
background: #9B9B9B;
/* Fill 13: */
background: #FEFEFE;
/* Fill 15: */
background: #FEFEFE;
/* Fill 17: */
background: #9B9B9B;
/* Fill 19: */
background: #9B9B9B;


/* Facilities: */
font-family: Avenir-Medium;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;


/* Clip 2: */
/* Fill 1: */
background: #9B9B9B;
/* Fill 4: */
background: #FEFEFE;
/* Fill 6: */
background: #9B9B9B;
/* Fill 8: */
background: #9B9B9B;
/* Fill 10: */
background: #9B9B9B;
/* Fill 12: */
background: #9B9B9B;
/* Fill 14: */
background: #9B9B9B;
/* Fill 16: */
background: #9B9B9B;
/* Fill 18: */
background: #9B9B9B;
/* Fill 20: */
background: #9B9B9B;


/* Class Schedule: */
font-family: Avenir-Medium;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;


/* Line: */
opacity: 0.38;
border: 3px solid #4A4A4A;


/* Line Copy 3: */
opacity: 0.38;
border: 1px solid #B6B6B6;


/* Line Copy 7: */
opacity: 0.38;
border: 1px solid #B6B6B6;


/* Line Copy 5: */
opacity: 0.38;
border: 1px solid #B6B6B6;


/* Line Copy 4: */
opacity: 0.38;
border: 1px solid #B6B6B6;


/* Mask Copy 3: */
background: #E72F23;
border-radius: 88px;