/* Rectangle 8: */
background: #E72F23;
border-radius: 100px;


/* mon: */
font-family: Avenir-Light;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;


/* tue: */
font-family: Avenir-Light;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;


/* wed: */
font-family: Avenir-Light;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;


/* thur: */
font-family: Avenir-Light;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;


/* fri: */
font-family: Avenir-Light;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;


/* Rectangle 5 Copy 2: */
background: #FFFFFF;
border: 0 solid #4A4A4A;
box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
border-radius: 2.5px;


/* Rectangle 5 Copy 3: */
background: #FFFFFF;
border: 0 solid #4A4A4A;
box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
border-radius: 2.5px;


/* Rectangle 5 Copy 5: */
background: #FFFFFF;
border: 0 solid #4A4A4A;
box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
border-radius: 2.5px;


/* Rectangle 5 Copy 7: */
background: #FFFFFF;
border: 0 solid #4A4A4A;
box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
border-radius: 2.5px;


/* Rectangle 5 Copy 6: */
background: #FFFFFF;
border: 0 solid #4A4A4A;
box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
border-radius: 2.5px;


/* Rectangle 5 Copy 3: */
background: #9B9B9B;
border-radius: 2.5px;


/* Rectangle 5 Copy 4: */
background: #9B9B9B;
border-radius: 2.5px;


/* Rectangle 5 Copy 10: */
background: #9B9B9B;
border-radius: 2.5px;


/* Rectangle 5 Copy 9: */
background: #9B9B9B;
border-radius: 2.5px;


/* Rectangle 5 Copy 8: */
background: #9B9B9B;
border-radius: 2.5px;


/* Advertising Concepts: */
font-family: Avenir-Medium;
font-size: 8px;
color: #4A4A4A;
letter-spacing: 0;


/* Typography & Form: */
font-family: Avenir-Medium;
font-size: 8px;
color: #4A4A4A;
letter-spacing: 0;


/* Web: Interaction: */
font-family: Avenir-Medium;
font-size: 8px;
color: #4A4A4A;
letter-spacing: 0;


/* Digital Asset Creati: */
font-family: Avenir-Medium;
font-size: 8px;
color: #4A4A4A;
letter-spacing: 0;


/* E Roon Kang: */
font-family: Avenir-Light;
font-size: 14px;
color: #000000;
letter-spacing: 0;


/* PSAM 2120 - A: */
font-family: Avenir-Light;
font-size: 14px;
color: #000000;
letter-spacing: 0;


/* 66 5th Ave Floor 5 R: */
font-family: Avenir-Light;
font-size: 14px;
color: #000000;
letter-spacing: 0;


/* 7:00pm - 9:40pm: */
font-family: Avenir-Light;
font-size: 14px;
color: #000000;
letter-spacing: 0;


/* ARS: Visual Communca: */
font-family: Avenir-Medium;
font-size: 8px;
color: #4A4A4A;
letter-spacing: 0;


/* 9:00am - 11:40am: */
font-family: Avenir-Medium;
font-size: 6px;
color: #FFFFFF;
letter-spacing: 0;


/* 9:00am - 11:40am copy 4: */
font-family: Avenir-Medium;
font-size: 6px;
color: #FFFFFF;
letter-spacing: 0;


/* 9:00am - 11:40am: */
font-family: Avenir-Medium;
font-size: 6px;
color: #FFFFFF;
letter-spacing: 0;


/* 12:10pm - 2:40pm: */
font-family: Avenir-Medium;
font-size: 6px;
color: #FFFFFF;
letter-spacing: 0;


/* 7:00pm - 9:40pm: */
font-family: Avenir-Medium;
font-size: 6px;
color: #FFFFFF;
letter-spacing: 0;


/* Line: */
opacity: 0.38;
border: 1px solid #4A4A4A;


/* Line Copy 2: */
opacity: 0.38;
border: 1px solid #4A4A4A;


/* Line Copy 6: */
opacity: 0.38;
border: 1px solid #4A4A4A;


/* Line Copy 7: */
opacity: 0.38;
border: 1px solid #4A4A4A;


/*  : */
border: 1px solid #FFFFFF;


/*   copy: */
border: 1px solid #FFFFFF;


/*   copy 2: */
border: 1px solid #FFFFFF;


/*   copy 3: */
border: 1px solid #FFFFFF;


/* Fall 2016: */
font-family: Avenir-Light;
font-size: 16px;
color: #4A4A4A;
letter-spacing: 0;
/* Rectangle: */
border: 1px solid #979797;
border-radius: 100px;
/* Triangle: */
transform: rotate(90deg);
background: #9B9B9B;


/* CLASS SCHEDULE: */
font-family: Avenir-Medium;
font-size: 20px;
color: #4A4A4A;
letter-spacing: 0;


/* Web: Interaction: */
font-family: Avenir-Medium;
font-size: 20px;
color: #E72F23;
letter-spacing: 0;


/* Clip 2: */
/* Fill 1: */
background: #E72F23;


/* Fill 1: */
background: #FEFEFE;
/* Stroke 3: */
background: #E72F23;
/* Fill 9: */
background: #FEFEFE;
/* Stroke 11: */
border: 1px solid #FFFFFF;
/* Stroke 11 Copy: */
border: 1px solid #FFFFFF;


/* Fill 1: */
background: #FEFEFE;
/* Stroke 3: */
background: #E72F23;
/* Fill 5: */
background: #FEFEFE;
/* Stroke 7: */


/* Mask Copy 4: */
background: #E72F23;
border-radius: 100px;


/* Rectangle 10 Copy: */
border: 1px solid #E72F23;
border-radius: 100px;


/* Rectangle 15 Copy: */
background: #E72F23;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);


/* Mask: */
background: #D8D8D8;
/* 10551713_10204500143127402_6198100777177702239_o: */


/* Kirsten Do Copy 2: */
font-family: Lato-Medium;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;


/* N00425505 Copy 2: */
font-family: Avenir-Light;
font-size: 13px;
color: #FFFFFF;
letter-spacing: 0;